<form action="" class="p-4">
  <div>
    <ion-label position="floating">Course Name</ion-label>
    <ion-input class="border-b" type="text" required></ion-input>
  </div>
  <div>
    <ion-label position="floating">Course Description</ion-label>
    <ion-textarea class="border-b" required></ion-textarea>
  </div>
  <div>
    <ion-label position="floating">Course Price</ion-label>
    <ion-input class="border-b" type="number" required></ion-input>
  </div>
  <div>
    <ion-label position="floating">Course Duration</ion-label>
    <ion-input class="border-b" type="number" required></ion-input>
  </div>
  <ion-button type="submit" expand="block">Submit</ion-button>
</form>