<ion-header>
  <ion-toolbar>
    <div class="px-4 text-2xl font-semibold"><h1>CM</h1></div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="w-full h-full space-y-1">
    <div class="h-[60vh] w-full overflow-y-scroll px-2">
      @for (item of courses; track $index) {
        <app-course [course]="item"/>
      }
    </div>
    <div class="w-full bg-gray-200 flex justify-center items-center">
      <ion-button routerLink="/course-form">Load More</ion-button>
    </div>
  </div>
</ion-content>
